body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}

#register_form {
  width: 37%;
  margin: 100px auto;
  padding-bottom: 30px;
  border: 1px solid #918274;
  border-radius: 5px;
  background: white;
}
#register_form h1 {
  text-align: center;
}
#register_form input {
  width: 80%;
  height: 35px;
  margin: 5px 10%;
  font-size: 1.1em;
  padding: 4px;
  font-size: 0.9em;
}
#register_form p {
  text-align: center;
}
#reg_btn {
  height: 35px;
  width: 80%;
  margin: 5px 10%;
  color: white;
  background: #0098cb;
  border: none;
  border-radius: 5px;
}

#boton a:link,
a:visited {
  background-color: #0098cb;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 76%;
  margin: 5px 10%;
  font-size: 0.9em;
}

#boton a:hover,
a:active {
  background-color: #00b8eb;
}

input[type=text] {
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid rgb(168, 167, 167);
  margin: 20px auto;
}